<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Search for reviews</title>
    {% load staticfiles %}
    <base href="http://{{ request.get_host }}/"></base>
    <link rel="stylesheet" href="{% static 'others/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.css' %}">
    <style type="text/css">
    	html, body {
	        height: 100%;
	    }
    	hr {
		  border: 0;
		  clear:both;
		  display:block;
		  width: 96%;               
		  background-color:gray;
		  height: 1px;
		}
		#pano {
	        float: left;
	        height: 100%;
	    }
	    .text-gray{
	    	color: gray;
	    }
	    .modal, .modal-content, .modal-dialog, .modal-header, .modal-body{
	    	background: transparent;
	    	box-shadow: 0px !important;
	    	border: 0px;
	    }
	    .modal, .modal-content, .modal-dialog{
	    	height: 100%;
	    	width: 100%;
	    }
	    #myModalContent{
	    	box-shadow: 0px !important;
	    }
	    .related_place_div{
	    	min-height: 100px;
	    	cursor: pointer;
	    }
	    .place_description{
	    	display: none;
	    }
    </style>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'others/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'others/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <script type="text/javascript">
    	function initAutocomplete() {
	    	var map = new google.maps.Map(document.getElementById('pano'), {
			    center: {lat: 0, lng: 0},
			    zoom: 3,
			    mapTypeId: 'roadmap'
			  });

	    	var panorama = new google.maps.StreetViewPanorama(
			document.getElementById('pano'), {
			  position: {lat: {{ lat }}, lng: {{ lng }}},
			  pov: {
			    heading: 0,
			    pitch: 0
			  }
			});
			map.setStreetView(panorama);
		}
		$(function(){
			$('#all_tweets_div').slimScroll({
		        height: '550px'
		    });
		});
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg6ItI4-Ab6_Sia46WfzZX8my-OO_NtvQ&libraries=places&callback=initAutocomplete"
         async defer></script>
    
  </head>
  <body>
  	<div id="main_div" style="height: 100%">
  		<div id="pano" class="col-sm-8">
  			
  		</div>
		<div id="twitter_reviews" class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<p class="h3 text-center">Twitter reviews</p>
				</div>
				<div id="all_tweets_div" class="panel-body">
				{% for twt in all_tweets %}
					<div class="col-sm-12">
						<div class="media">
							<div class="media-left">
								<img src="{{ twt.profile_img }}" class="media-object img-rounded" style="width:60px"/>
							</div>
							<div class="media-body">
								<h4 class="media-heading">{{ twt.display_name }} (<a href="https://twitter.com/{{ twt.user_name }}" target="_blank">@{{ twt.user_name }})</a></h4>
								<p class="text-justify text-gray"><em>{{ twt.tweet }}</em></p>
								<div class="col-sm-12">
									<div class="progress">
										<div class="progress-bar progress-bar-{{ twt.s_class }}" role="progressbar" aria-valuenow="{{twt.sentiment_score}}"
										aria-valuemin="0" aria-valuemax="100" style="width:{{ twt.sentiment_score }}%">
											{{ twt.sentiment_score }}%
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr/>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Nearby</button>
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog" style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
">

		    <!-- Modal content-->
		    <div class="modal-content" id="myModalContent">
		      <div class="modal-header" >
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h3 class="modal-title text-center">Nearby similar places</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="col-sm-4">
			       	<div class="related_place_div">
			       		<h4 class="place_name">Sammys</h4>
			       		<p class="place_description">Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. </p>
			       	</div>
			     </div>
			     <div class="col-sm-4">
			       	<div class="related_place_div">
			       		<h4 class="place_name">Alpha</h4>
			       		<p class="place_description">Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. </p>
			       	</div>
			     </div>
			     <div class="col-sm-4">
			       	<div class="related_place_div">
			       		<h4 class="place_name">Beta</h4>
			       		<p class="place_description">Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. </p>
			       	</div>
			     </div>
			     <div class="col-sm-4">
			       	<div class="related_place_div">
			       		<h4 class="place_name">Gamma</h4>
			       		<p class="place_description">Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. </p>
			       	</div>
			     </div>
			     <div class="col-sm-4">
			       	<div class="related_place_div">
			       		<h4 class="place_name">Zeta</h4>
			       		<p class="place_description">Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. Lorum ipsum dolor amitus. </p>
			       	</div>
			     </div>
		      </div>
		    </div>

		  </div>
		</div>
	</div>
	<script type="text/javascript">
		$(".related_place_div").hover(function(){
		    $(this).find(".place_description").fadeIn("slow");
		    }, function(){
		    $(this).find(".place_description").fadeOut("slow");
		});
	</script>
</body>
</html>