<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Search for reviews</title>
    {% load staticfiles %}
    <base href="http://{{ request.get_host }}/"></base>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'others/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'others/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg6ItI4-Ab6_Sia46WfzZX8my-OO_NtvQ&libraries=places&callback=initAutocomplete"
         async defer></script>
  </head>
  <body>
	<div id="twitter_reviews" class="col-sm-4">
		<h3 class="text-center">Twitter reviews</h3>
		{% for twt in all_tweets %}
			<div class="col-sm-12">
				<div class="media">
					<div class="media-left">
						<img src="{{ twt.profile_img }}" class="media-object" style="width:60px">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{ twt.display_name }} (<a href="https://twitter.com/{{ twt.user_name }}" target="_blank">@{{ twt.user_name }})</a></h4>
						<p>{{ twt.tweet }}</p>
					</div>
				</div>
			</div>
			<hr/>
		{% endfor %}
	</div>
</body>
</html>