<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Search for reviews</title>
    {% load staticfiles %}
    <base href="http://{{ request.get_host }}/"></base>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="height: 50px; margin-left: 30%; margin-top: 2%"/>
    <div id="map"></div>
    <div id="pano"></div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg6ItI4-Ab6_Sia46WfzZX8my-OO_NtvQ&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>