<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Search for reviews</title>
    {% load staticfiles %}
    <base href="http://{{ request.get_host }}/"></base>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'others/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'others/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg6ItI4-Ab6_Sia46WfzZX8my-OO_NtvQ&libraries=places&callback=initAutocomplete"
         async defer></script>
  </head>
  <body>
    <input id="search_input" class="controls" type="text" placeholder="Search Here.."/>
    <div id="map" style="display: none"></div>
    <div id="reviews"></div>
    <div id="csrf_token">{% csrf_token %}</div>
  </body>
</html>