<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Triview</title>
    {% load staticfiles %}
    <base href="http://{{ request.get_host }}/"></base>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'others/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'others/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO93Qnw2QDYkMhyQOuabTMXPZw0LMPL7k&libraries=places&callback=initAutocomplete"
         async defer></script>
  </head>
  <body style="background-color: transparent;">
  	<div id="title_div" class="text-center">
  		<h1 style><i class="fa fa-twitter"></i> TRIVIEW</h1>
  	</div>
  	<input id="search_input" class="controls" type="text" placeholder="Search Here.."/>
    <div id="map" style="display: none"></div>
    <div id="suggested_places" class="col-sm-12">
    	<a href="review_mining/get_reviews?name=Golden+Gate+Bridge&lat=37.8199286&lng=-122.47825510000001&type=point_of_interest">
	    	<div class="col-sm-3" style="background-image: url('{% static 'img/sanfran.jpg' %}'); height: 200px;  border-radius: 15px; margin: 0% 2%; background-size: cover;">
	    		<h3 class="text-center" style="margin-top: 30%; color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Golden Gate Bridge</h3>
	    	</div>
	    </a>
	    <a href="review_mining/get_reviews?name=Eiffel+Tower&lat=48.8583698&lng=2.2944833000000244&type=premise">
	    	<div class="col-sm-3" style="background-image: url('{% static 'img/et.jpg' %}'); height: 200px;  border-radius: 15px; margin: 0% 8%; background-size: cover;">
	    		<h3 class="text-center" style="margin-top: 30%; color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Eiffel Tower</h3>
	    	</div>
	    </a>
	    <a href="review_mining/get_reviews?name=Empire+State+Building&lat=40.7485413&lng=-73.98575770000002&type=premise">
	    	<div class="col-sm-3" style="background-image: url('{% static 'img/est.jpg' %}'); height: 200px;  border-radius: 15px; margin: 0% 2%; background-size: cover;">
	    		<h3 class="text-center" style="margin-top: 30%; color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Empire State Building</h3>
	    	</div>
	    </a>
    </div>

    <div id="csrf_token">{% csrf_token %}</div>
  </body>
</html>